.box-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 89vh;
    width: 83vw;
    margin: 3.5vh 2vw 3.5vh 15vw;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: left;
    /*i tried left-align here as well. no affect*/
}

.box-container>* {
    text-align: left;
    /* supposed to left-align text for direct children */
}