.schedule-container {
    display: flex;
    font-family: Inter;
    font-weight: 600;
}

/* time div */
.time-column {
    width: 4.2vw; 
    padding-right: .52vw; 
    box-sizing: border-box;
}

.time-line {
    position: relative;
}

/* times  */
.time-label {
    position: relative;
    text-align: right;
    top: -.3vh;
    width: 3.65vw; 
    margin-top: 3.67vh;
    font-size: .75rem;
}

/* Style for the schedule grid */
.schedule-grid {
    flex: 1;
    overflow: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    border-spacing: 0 .52vw;
}

/* days */
th, td {
    margin: 0vw -.26vw; 
    width: 5.2vw; 
    border: .1vw solid #ccc;
    padding: 1.273vh;
    text-align: center;
    font-size: .75rem;
}

tr:first-child th {
    padding-top: .57vh;
    padding-bottom: .57vh;
}


tr:not(.dotted-line) td {
    border-bottom: .1vw dashed rgb(221, 221, 221) !important;
}

/* Resetting border for td elements in the top row */
tr.dotted-line td {
    border-top: none;
}
